html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    overflow: hidden;
    position: fixed;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    float: right;
    height: 50px;
}

a {
    padding: 20px;
    width: 120px;
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

a:hover {
    color: aquamarine;
    transition: 1.5s;
}

#sec1 {
    height: 720px;
    display: inline-block;
    width: 100%;
}

#sec2 {
    height: 720px;
    display: inline-block;
    width: 100%;
}

#sec3 {
    height: 720px;
    display: inline-block;
    width: 100%;
}

#sec4 {
    height: 720px;
    display: inline-block;
    width: 100%;
}

h2 {
    margin: 100px;
    text-align: center;
    padding: 0px;
}
.header {
    position: relative;
    margin: 240px auto;
    margin-top: 80px;
    width: 900px;
    height: 300px;
    text-align: center;
    border: solid 1px black;
    border-radius: 10px;
}
.header:hover {
    background-color: aqua;
    opacity: 50%;
    transition: 2s;
}

.background {
    background: url(../image/bd.jpg) fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}